server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orderdb
    username: ${USER_NAME}
    password: ${PASSWORD}
#  rabbitmq:
#    host: localhost
#    port: 5672
#    username: guest
#    password: guest
  cloud:
    stream:
      default-binder: kafka
      bindings:
        createOrder-out-0:
          destination: order.exchange
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092

#      rabbit:
#        bindings:
#          createOrder-out-0:
#            producer:
#              routing-key-expression: '''order.tracking'''
#  rabbitmq:
#    host: ${RABBITMQ_HOST:localhost}
#    port: ${RABBITMQ_PORT:5672}
#    username: ${RABBITMQ_USERNAME:guest}
#    password: ${RABBITMQ_PASSWORD:guest}
#    virtual-host: ${RABBITMQ_VHOST:guest}
#    connection-timeout: 30000
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    hibernate:
#      ddl-auto: create
#
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}


#rabbitmq:
#  exchange:
#    name: order.exchange
#  queue:
#    name: order.queue
#  routing:
#    key: order.tracking




management:
  endpoints:
    web:
      exposure:
        include: "*"  # Mở tất cả các cổng giám sát (health, info, beans, metrics...) qua HTTP
  endpoint:
    health:
      show-details: always # Luôn hiển thị chi tiết trạng thái sức khỏe (thay vì chỉ hiện "UP")
  health:
    circuitbreakers: # Tích hợp trạng thái của Circuit Breaker vào hệ thống Health Check
      enabled: true

app:
  message: "okkkkkkkkkkkkk"



# Circuit Breaker
resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based
  retry:
    instances:
      retryBreaker:
        maxAttempts: 5
        waitDuration: 5s
  ratelimiter:
    instances:
      rateBreaker:
        timeout-duration: 0
        limit-refresh-period: 4s
        limit-for-period: 2

#registerHealthIndicator	                    Đưa trạng thái của Circuit Breaker này vào trang /actuator/health.
#slidingWindowSize: 10	                        Theo dõi kết quả của 10 cuộc gọi gần nhất để tính toán tỷ lệ lỗi.
#minimumNumberOfCalls: 5	                    Phải có ít nhất 5 cuộc gọi (SUCC or FAIL) thì mới bắt đầu tính toán để ngắt mạch.
#failureRateThreshold: 50	                    Nếu tỉ lệ lỗi >= 50%, mạch sẽ chuyển sang trạng thái OPEN (Ngắt).
#waitDurationInOpenState: 10s	                Sau khi ngắt, nó sẽ chờ 10 giây trước khi thử chuyển sang trạng thái Half-Open.
#permittedNumberOfCallsInHalfOpenState: 3	    Ở trạng thái Half-Open, cho phép 3 cuộc gọi để kiểm tra hệ thống đã ổn định chưa.
#automaticTransitionFromOpenToHalfOpenEnabled	Tự động chuyển từ OPEN sang Half-Open mà không cần có request mới đến.



